* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 20px #aaaaaa;
}

.container {
  padding: 15px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "random-fact weather"
    "time time"
    "img-info cocktail";
}

.random-fact {
  grid-area: random-fact;
}

.random-fact-title {
  font-weight: bold;
  text-decoration: underline;
}

.random-fact-p {
  max-width: 400px;
}

.weather {
  grid-area: weather;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.7rem;
}

.weather-icon-and-temp {
  display: flex;
  align-items: center;
}

.weather-city {
  text-align: center;
  margin: 0;
  margin-top: -3rem;
}

.weather img {
  width: 70px;
}

.time {
  grid-area: time;
  font-size: 10rem;
  text-align: center;
}

.img-info {
  grid-area: img-info;
  display: flex;
  align-items: flex-end;
}

.image-creator, .random-fact-p {
  font-size: 1.5rem;
}

.cocktail {
  padding: 1em;
  grid-area: cocktail;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.cocktail > img {
  width: 100px;
  border: 4px white solid;
  border-radius: 10em;
}